html, body {
    margin: 0;
    padding: 0;
}
*, *::after, *::before {
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}
header{
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
}
header .logo{
    height: 100%;
    width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
header .top-panel{
    height: 100%;
    flex-grow: 2;

}
.panel{
    width: 300px
}
.wrapper{
    width: calc(100% - 315px);
    position: absolute;
    right: 15px;
    top: 100px;
    border: 1px solid #353535;
    min-height: 80vh;
}
.form-field{
    padding: 5px;
    margin: 5px 10px;
}
.form-field label{
    display: block;
    margin-bottom: 3px;
}
.triangle{
    transition: all .5s;
}
.figure{
    position: relative;
    background: transparent;
    overflow: hidden;
    transition: all .5s;
}
.figure:before{
    position: relative;
    display: block;
    content: '';
    background: #a73448;
    transition: all .5s;
}
.point{
    border: 1px solid;
    width: 0;
    height: 0;
    position: absolute;
}
.buttons-panel{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.action-button{
    display: inline-flex;
    min-width: 36px;
    height: 36px;
    border-radius: 3px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    font-size: .9em;
    user-select: none;
}
.disabled{
    cursor: default!important;
    filter: grayscale(90%);
}
.success, .danger, .warning, .info, .primary {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.dark-blue{
    background-image: radial-gradient(circle,#36465f,#313c51,#2b3344,#252a37,#1e212b);
    color: #fff;
}
.primary{
    background-color: #9c27b0;
    color: #fff;
}
.warning{
    background-color: #ff9800;
    color: #fff;
}
.danger{
    background-color: #f44336;
    color: #fff;
}
.success{
    background-color: #61b261;
    color: #fff;
}
.info{
    background-color: #00acc1;
    color: #fff;
}
.rose{
    background-color: #e91e63;
    color: #fff;
}
.gray{
    background-color: #999999;
    color: #fff;
}
.primary:hover{
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.warning:hover{
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.danger:hover{
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
.success:hover{
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.info:hover{
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}
.dark-blue:hover{
    box-shadow: 0 12px 20px -10px rgba(0, 26, 212, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 144, 212, 0.2);
}
