*, *::after, *::before {
    box-sizing: border-box;
}
.wrapper{
    width: calc(100% - 315px);
    position: absolute;
    right: 15px;
    top: 100px;
    border: 1px solid #353535;
    min-height: 80vh;
}
.form-field{
    padding: 10px;
    margin: 5px 15px;
}
.form-field label{
    display: block;
    margin-bottom: 3px;
}
.triangle{
    background: transparent;
    overflow: hidden;
    transition: all .5s;
}
.triangle:before{
    position: relative;
    display: block;
    content: '';
    background-color: #a73448;
    transition: all .5s;
}
