html, body {
    margin: 0;
    padding: 0;
}
*, *::after, *::before {
    box-sizing: border-box;
}
header{
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
}
header .logo{
    height: 100%;
    width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
header .top-panel{
    height: 100%;
    flex-grow: 2;

}
.panel{
    width: 300px
}
.wrapper{
    width: calc(100% - 315px);
    position: absolute;
    right: 15px;
    top: 100px;
    border: 1px solid #353535;
    min-height: 80vh;
}
.form-field{
    padding: 5px;
    margin: 5px 10px;
}
.form-field label{
    display: block;
    margin-bottom: 3px;
}
.triangle{
    transition: all .5s;
}
.figure{
    position: relative;
    background: transparent;
    overflow: hidden;
    transition: all .5s;
}
.figure:before{
    position: relative;
    display: block;
    content: '';
    background: #a73448;
    transition: all .5s;
}
.point{
    border: 1px solid;
    width: 0;
    height: 0;
    position: absolute;
}